[Unit]
Description=Autostart ClipCascade with Xwayland
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple

ExecStart=/home/tychart/programs/ClipCascade/.venv/bin/python \
    /home/tychart/programs/ClipCascade/main.py \
    --xmode true \
    --gui true

Restart=on-failure

[Install]
WantedBy=graphical-session.target
