[Unit]
Description=Autostart ClipCascade with Xwayland
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple

# Inherit the graphical environment
Environment=GDK_BACKEND=x11
Environment=CLIPCASCADE_FORCE_XWAYLAND=1

ExecStart=/usr/bin/python3 /home/tychart/programs/ClipCascade/main.py

Restart=on-failure

[Install]
WantedBy=graphical-session.target
